RFC: Automatically detect syslog format

I believe it would be possible to automatically detect which of the framing formats an incoming syslog message uses, would would enable us to implement a sort of 'superformat' called (say) `automatic`.

This is because:
* RFC3164 syslog frames all begin with a pattern matching `'^<[0-9]{1,3}>[a-zA-Z]'` (i.e. have no space after the close angle bracket - single quotes for presentation only)
* RFC5424 syslog frames all begin with a pattern matching `'^<[0-9]{1,3}> '` (i.e have a space after the close angle bracket - single quotes for presentation only)
* RFC6587 *(see note below)* syslog frames all begin with a pattern matching `'^[0-9]+ '` (i.e. have an octet count - single quotes for presentation only)

Does this seem a useful idea in practice? I think 'automatic' should be an option (as it's possible the message should be rejected or parsed with excess tolerance rather than misparsed - I can imagine an RFC3164 implementation incorrectly putting a space before the date for instance). This is a request for comments. I'm happy to look at implementing it if useful.

______________

*NB: RFC6587 is probably the wrong description as RFC6587 describes both the octet counting variant (at 3.4.1) that go-syslog implements in `rfc6587.go` and the non-transparent-framing (at 3.4.2) that go-syslog mostly implements in `rfc3164.go` as applied to non-UDP syslog. I say 'mostly implements' as per 3.4.2 of the RFC some implementations frame with terminating `\0` rather than `\n`.*

I don't have very clean is very useful, he will build a syslog server without having the format well defined? 
What cases do you have on mind? 



The main use case is a syslog server with multiple clients using different formats. There are 4 possible format and framing combinations (before we get on to UDP/TCP and TLS / not TLS) and it is unreasonable to expect people to set up things listening on 4 different ports (for each of UDP/TCP) when it's pretty trivial to read it from the message (as per the patch).

The second point is it makes configuration far easier if it just works out the box. Normal users do not know which RFC their logging applications follow.

For instance linux's default 'logger' command in util-linux has in the past few months moved from RFC3164 logging to RFC5424 logging. Consider a syslog server running go-syslog as the server in current form. Without automatic format detection, a set up of Linux boxes running things that call 'logger' would mysteriously stop working when util-linux was upgraded on some of the boxes. Making it work would require adding an additional syslog port (to listen for both formats), changing firewall rules, and changing the command line to 'logger' to use the new port. That is an unreasonable requirement, particularly as other syslog sources on the same box may still use the other format. It's also difficult to debug *why* this has stopped working unless you happen to know the syslog format.

Far better to give the option to automatically work out what format should be used. If you only want to accept a particular format, that option remains available.

On 15 Jul 2015, at 21:51, M�ximo Cuadros <notifications@github.com> wrote:

> I don't have very clean is very useful, he will build a syslog server without having the format well defined? 
> What cases do you have on mind?
> 
> �
> Reply to this email directly or view it on GitHub.
> 

-- 
Alex Bligh






Perfect, has sense for me. Let review the PR.
Thanks